<!DOCTYPE html>
<html ng-app="mietTestApp" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – тестирование</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Bundles/css/main")
    @Scripts.Render("~/Bundles/js/main")
    <script src="~/app/mietTestApp.js"></script>
    @Scripts.Render("~/Bundles/js/app")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a class="navbar-brand" href="@Url.Action("Index", "Home", new {area="" })"><span style="font-size:large" class="glyphicon glyphicon-home"> </span></a>

            </div>
            <div class="collapse navbar-collapse " id="responsive-menu">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("О программе", "About", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Тесты <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Новый тест", "Create", "Test", new { area = "" }, null)</li>
                            @*<li class="divider"></li>*@
                            @*<li>@Html.ActionLink("Добавить заказчика", "Customer", "Customer", new { area = "" }, null)</li>*@
                        </ul>
                    </li>
                    @*<li>@Html.ActionLink("Контакт", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year – Платформа для тестирования.</p>
        </footer>
    </div>
</body>
</html>
