@using DbLayer.Entities;
@using MietTest.Areas.Admin.Models;
@using MietTest.Infrastructure;
@model RoleEditModel
@{ ViewBag.Title = "Редактирование роли";}
@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <input type="hidden" name="roleName" value="@Model.Role.Name" />
    <div class="panel panel-primary">
        <div class="panel-heading">Добавить к @Model.Role.Name</div>
        <table class="table table-striped">
            @if (Model.NonMembers.Count() == 0)
            {
                <tr><td colspan="2">Все пользователи члены группы</td></tr>
            }
            else
            {
                <tr><td>User ID</td><td>Add To Role</td></tr>
                foreach (User user in Model.NonMembers)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>
                            <input type="checkbox" name="IdsToAdd" value="@user.Id">
                        </td>
                    </tr>
                }
            }
        </table>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Удаление из @Model.Role.Name</div>
        <table class="table table-striped">
            @if (Model.Members.Count() == 0)
            {
                <tr><td colspan="2">Нет пользователей в данной группе</td></tr>
            }
            else
            {
                <tr><td>Пользователь</td><td>Убрать роль</td></tr>
                foreach (User user in Model.Members)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>
                            <input type="checkbox" name="IdsToDelete" value="@user.Id">
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    @Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-default" })
}